.layout-container {
  display: grid;
  height: 100vh;
  // On utilise une transition pour que ce soit fluide
  transition: grid-template-columns 0.3s ease;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 55px 1fr;
  grid-template-areas: 
    "navbar header"
    "navbar content";

  // Quand le menu est fermé
  &.menu-closed {
    grid-template-columns: 0px 1fr; // La navbar disparaît
    
    .navbar-area {
      transform: translateX(-100%); // On la glisse hors de l'écran
    }
  }
}

.navbar-area {
  grid-area: navbar;
  transition: transform 0.3s ease; // Animation de glissement
  overflow: hidden; // Empêche le texte de dépasser pendant l'animation
}

.header-area { grid-area: header; z-index: 10; }
.content-area { grid-area: content; overflow-y: auto; padding: 20px; }